*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(234, 161, 93);
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.timer {
    background-color: rgb(255, 255, 255);
    padding:1rem 1rem;
    border-radius: 10px;
    color: rgb(128, 128, 128);
}
.timer p {
    margin: 0 2rem;
}
.buttons button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    margin: 2rem 0.5rem;
    border: none;
    height: 2.5rem;
    width: 4.5rem;
    border-radius: 10px;
}
#start:hover {
    background-color: rgb(41, 127, 154);
    border: 1px rgb(0, 0, 0) solid;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#stop:hover {
    background-color: rgb(148, 30, 19);
    border: 1px rgb(0, 0, 0) solid;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#reset:hover {
    background-color: rgb(73, 167, 23);
    border: 1px rgb(0, 0, 0) solid;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
